<article class="post">
  <div class="title">
    <a href="{{comment_text}}">{{title}}</a>
  </div>
  <div class="content">
    {{content}}
  </div>
  <div class="meta">
    Posted by {{user.username}} on {{format_date createdAt}}
  </div>
</article>
